/* fonts style */
body{
    font-family: 'Poppins', sans-serif;
}
/* header style */
.first-heading{
    width: 243px;
    height: 52.2px;
    font-size: 20px;
    padding-left: 120px;
    padding-top: 70px;
}
.flexible-container{
    display: flex;
}
h1{
    font-size: 40px;
    margin: 0;
}
.half-width{
    width: 582px;
    height: 133px;
    font-size: 16px;
    padding-top: 90px;
    padding-left: 120px;
    padding-bottom: 10px;
}
.half-width img{
    width: 360px;
    transition: width 5s ease-in-out 1s;
}
.link-button{
    text-decoration: none;
    color: white;
    background-color:#E02C6D;
    padding: 5px 20px;
    border-radius: 10px;
}
.half-width img:hover{
    transform: scale(1.3);
    transition: transform 2s ease-in-out;
}
/* collection style */
.section-title{
    width: 262px;
    height: 70px;
    font-size: 28px;
    padding-top: 350px;
   
    padding-left: 400px;
    padding-bottom: 30px;
}
.container{
    width: 1047px;
    height: 1662px;
    padding-left: 110px;
    /* padding-top: 935px; */
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}
 .collection{
    width: 300px;
    height: 490px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 15px 10px;
    
}
.collection p{
    margin: 0;
    color: #787885;
    font-weight: 700;
    font-size: 14px;
}
.collection-title{
    font-weight: 700;
    font-size: 28px;
}
.collection-detail .collection-author{
    font-size: 24px;
    font-weight: 400;
    color: black;
    padding-bottom: 10px;
}
.collection .collection-banner img:hover{
    transform: scale(1.2);
    transition: transform 2s ease-in-out;

}
.collection-rating span{
    margin-left: 10px;
    font-weight: 700;
    color: #787885;
}
.fa-star.filled{
    color: #FB8200;
    

}
.fa-star.empty{
    color: #AEAEAE;
}
.seemore-button{
    display: flex;
    justify-content: flex-end;
    color: #E02C6D;
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 60%;
    padding-top:20px;
   
} 
/* lastpart style */
.third-container{
    display: flex;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 200px;
}  
.third-part{
    width: 1110px;
    height: 270px;
    font-size: 16px;
    padding-left: 120px;
    padding-top: 600px;
    padding-bottom: 100px;
    
}
/* footer style */
footer h4{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    padding-top: 50px;
    margin: 0;
    color: #FFFFFF;
}
footer p{
    
    text-align: center;
    color: lightslategray;
    margin: 0;
}
.anchor{
    margin-top: 24px;
    text-align: center;
}
footer a{  
    text-decoration: none;
    color: white;
    margin-right: 24px;
    
   
}
#footer-id{
    background-color: black;
    color: white;
    
}
/* media-queries */
/* mobile devices */
@media only screen and (max-width:688px) {
    .flexible-container{
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }
    #first-div{
        margin-bottom: 150px;
    }
    .collections{
        grid-template-columns: repeat(1, 1fr);
    }   
    .container{
        margin-bottom: 3700px;
        margin-right: 0;
    }
    .third-container{
        flex-direction: column;
        width: 100%;
        margin-right: 0;
    }
    .third-part{
        padding-top: 100px;
        /* width: 75%; */
    }
    #last-part{
        width: 50%;
        padding-top: 50px;
        padding-bottom: 700px;
    }
    .section-title{
        text-align: left;
        padding-left: 0;
    }
    footer{
        /* display: none; */
        width: 100%; 
        
         padding-bottom: 500px;
    }
    .seemore-button{
        display: flex;
        justify-content: flex-start;
    }
    
}
/* tablet devices */
@media only screen and (min-width:688px) and (max-width:992px) {
    .flexible-container{
        flex-direction: row;
        width: 100%;
        /* margin-right: 0; */
    }
    
    .collections{
        grid-template-columns: repeat(2, 1fr);
    }
    
    #first-div{
        margin-bottom: 150px;
    }
    .section-title{
        text-align: left;
        padding-left: 0;
    }
    .container{
        margin-bottom: 1500px;
        margin-right: 0;
    }
    .third-container{
        flex-direction: row;
        width: 100%;
        
    }
    .third-part{
        padding-top: 100px;
        /* width: 75%; */
    }
    #last-part{
        width: 50%;
        padding-bottom: 700px;
    }
    footer{
        /* display: none; */
        width: 100%; 
        align-items: flex-end;
         padding-bottom: 500px;
    }
    .seemore-button{
        display: flex;
        justify-content: flex-start;
    }
}

